<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    </head>
    
    <div class="header">
        <div class="logo-and-name">
          <a href="#">
           <img src="./assets/images/railicon.png"  alt="Train Logo" class="logo">
          </a>
          <h3>Train Ticket Booking</h3>
        </div>
        <div class="user-actions">
         <a class="nav-link" >Home</a>
               <a class="nav-link" >My bookings</a>
              <a class="nav-link" routerLink="/home">Logout</a>
        </div>
    </div>
    
    
    <div class="sidebar-social">
    <ul>
    <li>
    <a  title="Train"  rel="nofollow"><i class="fa fa-train" routerLink="/booking"></i><span>Trains</span></a></li>
    
    <li><a  title="Plane"  rel="nofollow"><i class="fa fa-plane"></i><span>Flights</span></a>
    </li>
            
    <li><a  title="Bus"  rel="nofollow"><i class="fa fa-bus"></i><span>Bus</span></a>
    </li>
            
    <li><a  title="Hotel" rel="nofollow"><i class="fa fa-hotel"></i><span>Hotels</span></a>
    </li>
            
    <li><a  title="Mobile"  rel="nofollow"><i class="fa fa-mobile"></i><span>Mobile Recharge</span></a>
    </li>
    
    <li><a  title="Credit Card"  rel="nofollow"><i class="fa fa-credit-card"></i><span>Credit Card Bills</span></a> 
    </li>
    
    <li><a  title="Gold"  rel="nofollow"><i class="fa fa-bitcoin"></i><span>Digital Currency</span></a>
    </li>
    
    <li><a  title="Home"  rel="nofollow"><i class="fa fa-home"></i><span>Municipal Tax</span></a>
    </li>
    
    <li><a  title="List"  rel="nofollow"><i class="fa fa-list"></i><span>More Services</span></a></li>
    </ul>
    </div>
    
   
