<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="\assets\images\railicon.png" alt="Logo" width="80" height="70" class="d-inline-block align-text-top">
        
      </a>
      <p class="navbar-brand"  > TRAIN TICKET BOOKING</p>
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #1089df;">
       
        <div class="container-fluid">
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="#">USER-LOGIN</a></li>
                  <li><a class="dropdown-item" href="#">ADMIN-LOGIN</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
    </div>
    
  </nav>
  <div style="margin-top: 1%;">
    <div class="card mb-3">
        <img src="\assets\images\vandebharath.avif" class="card-img-top" alt="..." style="width: 95%;height:600px;margin-left:3%;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Vande Bharat Express</h5>
          <p class="card-text">The Vande Bharat Express is a medium-distance train service operated by Indian Railways.</p>
          <p class="fw-bold">Train No:   22439/22440</p>
          <p>New Delhi -> Shri Mata Vaishno Devi Katra</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 2 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        
        <img src="\assets\images\shatabdi.jpg" class="card-img-bottom" alt="..." style="width: 95%;height:400px;margin-left:3%;">
        <div class="card-body" style="text-align: center;  ">
          <h5 class="card-title">Kashi Mahakal SF Express</h5>
          <p class="card-text">MAHAKAL SUPERFAST EXPRESS 20415 runs from VARANASI JN (BSB) To INDORE JN BG (INDB) on a weekly basis. </p>
          <p class="fw-bold">Train No:   20413/20415</p>
          <p>VARANASI JN -> INDORE JN BG </p>
          <p class="card-text" style="margin-bottom: 5%;"><small class="text-body-secondary">Last updated 15 mins ago</small></p>
        </div>
      </div>
  </div><footer class="bg-info text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/login/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/i/flow/login" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
          ><i class="fa-brands fa-instagram"></i>
        </a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/home?originalSubdomain=in" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
    
      </section>
    
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     
      <h5 class="text-white" style="letter-spacing: .1rem;"     > © 2023 Copyright: Tcktbook.com</h5>
    </div>
    
  </footer>