<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-header">
  <div class="container-fluid">
    <img src="\assets\images\railicon.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
    <a class="navbar-brand" routerLink="/" style="padding-left: 10px;">Train Ticket Booking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
    
</nav>
  <div style="margin-top: 5%;">
    <div class="card mb-3">
        <img src="\assets\images\vandebharath.avif" class="card-img-top" alt="..." style="width: 95%;height:600px;margin-left:3%;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Vande Bharat Express</h5>
          <p class="card-text">The Vande Bharat Express is a medium-distance train service operated by Indian Railways.</p>
          <p class="fw-bold">Train No:   22439/22440</p>
          <p>New Delhi -> Shri Mata Vaishno Devi Katra</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 2 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        
        <img src="\assets\images\shatabdi.jpg" class="card-img-bottom" alt="..." style="width: 95%;height:400px;margin-left:3%;">
        <div class="card-body" style="text-align: center;  ">
          <h5 class="card-title">Kashi Mahakal SF Express</h5>
          <p class="card-text">MAHAKAL SUPERFAST EXPRESS 20415 runs from VARANASI JN (BSB) To INDORE JN BG (INDB) on a weekly basis. </p>
          <p class="fw-bold">Train No:   20413/20415</p>
          <p>VARANASI JN -> INDORE JN BG </p>
          <p class="card-text" style="margin-bottom: 5%;"><small class="text-body-secondary">Last updated 15 mins ago</small></p>
        </div>
      </div>
  </div>
  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #333333;">
      © 2023 Copyright: TCKTBooking.com
    </div>
    <!-- Copyright -->
  </footer>