<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="\assets\images\railicon.png" alt="Logo" width="80" height="70" class="d-inline-block align-text-top">
        
      </a>
      <p class="navbar-brand"  >TICKET BOOKING SERVICE</p>
      <nav class="navbar navbar-expand-lg bg-body-tertiary" >
       
        <div class="container-fluid">
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="#">USER-LOGIN</a></li>
                  <li><a class="dropdown-item" href="#">ADMIN-LOGIN</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Services</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
    </div>
  </nav>
  <h4 style="text-align: center;margin-top: 1%;margin-bottom: 2%;"class="text-decoration-underline">COURTESIES SUPPLY</h4>

  <div class="card text-bg-light" style="margin-left: 8%;margin-right: 15%;">
    <img src="\assets\images\flight.webp" class="card-img" style="height:25%;width:50%;margin-right: 65%;">
    <div class="card-img-overlay">
      <h5 class="card-title">FLIGHTS</h5>
     
      <p class="card-text" >India's largest and leading passenger airline strives to offer the lowest airfare for your flight booking. Currently has flights to over 80+ domestic destinations in India and 30+ international destinations.</p>
      <p class="card-text" style="margin-top: 18%;font-weight: bold;"><small>Last updated 9 mins ago</small></p>
    </div>
  </div>
  <p></p>
  <div class="card text-bg-light" style="margin-left: 15%;margin-right: 15%;">
    <img src="\assets\images\buss.jpg" class="card-img" style="height:25%;width:50%;margin-left: 60%;">
    <div class="card-img-overlay">
      <h5 class="card-title">BUSS</h5>
     
      <p class="card-text">We offer bus tickets, local bus tickets, bus booking service.</p>
      <p>Bus booking online, bus tour packages within your city.</p>
      <p class="card-text" style="margin-top: 14%;font-weight: bold;"><small>Last updated 18 mins ago</small></p>
    </div>
  </div>
  <p></p>
  <div class="card text-bg-light" style="margin-left: 20%;margin-right: 20%;">
    <img src="\assets\images\hotel.jpg" class="card-img" style="height:25%;width:50%;margin-left:0%;">
    <div class="card-img-overlay">
      <h5 class="card-title"style="margin-left:60%">HOTEL</h5>
     
      <p class="card-text" style="margin-left: 60%;margin-top: 2%;">Over 900,000 Hotels Worldwide. Book Now, Pay When You Stay. Get Instant Confirmation. Great Availability. We speak your language.</p>
      <p class="card-text" style="margin-top:11%;font-weight: bold;text-align: end;"><small>Last updated 32 mins ago</small></p>
    </div>
  </div>
  <p></p>
  <div class="card text-bg-light" style="margin-left: 25%;margin-right: 15%;">
    <img src="\assets\images\holiday.avif" class="card-img" style="height:200px;width:35%;margin-left: 60%;margin-top: 4%;filter: blur(1px);">
    <div class="card-img-overlay">
      <h5 class="card-title">HOLIDAY-PACKAGE</h5>
     
      <p class="card-text">Abu Dhabi Invites You To Explore Its Enchanting Desert Landscapes And Tranquil oasis. </p>
      <p>With the right all India tour packages, you can discover lush green valleys, snow-covered peaks and gorgeous wildlife..</p>
      <p class="card-text" style="margin-top: 10%;font-weight: bold;"><small>Last updated 40 mins ago</small></p>
    </div>
  </div><p></p>
  <footer class="bg-info text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/login/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/i/flow/login" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
          ><i class="fa-brands fa-instagram"></i>
        </a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/home?originalSubdomain=in" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
    
      </section>
    
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     
      <h5 class="text-white" style="letter-spacing: .1rem;"     > © 2023 Copyright: Tcktbook.com</h5>
    </div>
    
  </footer>

